@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Jenkins Demo Web Application</h1>
    <p>
        My Devops with docker is running on localhost:1000.
    </p>
  </div>
